<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.resume.resume.mapper.ResumeTemplateMapper">

    <resultMap type="com.abc.resume.resume.domain.entity.ResumeTemplate" id="ResumeTemplateResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="cover"    column="cover"    />
        <result property="category"    column="category"    />
        <result property="templateDetail"    column="template_detail"    typeHandler="com.abc.resume.resume.domain.entity.template.ResumeTemplateDetailTypeHandler"    />
        <result property="source"    column="source"    />
        <result property="uid"    column="uid"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="ver"    column="ver"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectResumeTemplateVo">
        select id, code, name, description, cover, category, template_detail, source, uid, create_time, update_time, status, ver, is_delete from resume_template
    </sql>

    <select id="selectResumeTemplatePage" resultMap="ResumeTemplateResult">
        select code, name, cover, template_detail from resume_template
        where is_delete != id and status = 1
        order by id asc
    </select>

    <select id="selectResumeTemplateByCode" resultMap="ResumeTemplateResult">
        <include refid="selectResumeTemplateVo"/>
        where code = #{code} and is_delete != id and status = 1
    </select>

</mapper>
